# Barnase-Barstar preparation

*Task: Prepare a pdb file with a barnase-barstar complex following the MolSysMT showcase notebook ["Barnase-Barstar"](https://www.uibcdf.org/MolSysMT/contents/about/showcase/Barnase_Barstar.html)*

In [1]:
import molsysmt as msm

In [4]:
molecular = msm.convert("1brs")

In [5]:
msm.info(molecular)

In [7]:
molecular = msm.extract(molecular, selection='molecule_type=="protein"')

In [9]:
msm.info(molecular)

In [10]:
msm.info(molecular, element='molecule')

In [11]:
msm.info(molecular, element='chain')

In [20]:
msm.view(molecular, viewer='NGLView')


barnase = msm.extract(molecular, selection="chain_name=='B'")
barstar_E = msm.extract(molecular, selection="chain_name=='E'")
barstar_F = msm.extract(molecular, selection="chain_name=='F'")

msm.view([barnase, barstar_E, barstar_F], viewer='NGLView')

NGLWidget()

In [18]:
barstar_F_over_E = msm.structure.align(barstar_F, selection='atom_name=="CA"',
                                       reference_molecular_system=barstar_E, reference_selection='atom_name=="CA"')

/Users/prueba/opt/anaconda3/envs/OpenDocker-Tools/lib/python3.9/site-packages/Bio/Align/__init__.py:1277: BiopythonDeprecationWarning: alignment.format has been deprecated, and we intend to remove it in a future release of Biopython. Instead of alignment.format(), please use format(alignment) or an f-string.
  warnings.warn(

In [19]:
msm.view([barnase, barstar_E, barstar_F_over_E], viewer='NGLView')

NGLWidget()

In [22]:
barnase_barstar = msm.merge([barnase, barstar_F_over_E])

In [23]:
msm.view(barnase_barstar, viewer='NGLView')

NGLWidget()

In [25]:
msm.build.get_atoms_with_alternate_locations(barnase_barstar)

[]

In [26]:
msm.view(barnase_barstar, viewer='NGLView')

NGLWidget()

In [27]:
msm.build.get_atoms_with_alternate_locations(barnase_barstar)

[]

In [28]:
msm.build.get_missing_heavy_atoms(barnase_barstar)

{131: ['CD', 'CE', 'NZ'],
 137: ['CG', 'CD', 'OE1', 'OE2'],
 155: ['CG', 'CD', 'OE1', 'OE2'],
 173: ['CG', 'CD', 'OE1', 'OE2'],
 174: ['CG', 'OD1', 'ND2'],
 198: ['O']}

In [30]:
msm.build.get_missing_residues(barnase_barstar)

{}

In [31]:
msm.contains(barnase_barstar, hydrogens=True)

False

In [32]:
barnase_barstar = msm.build.add_missing_heavy_atoms(barnase_barstar)

Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.

In [33]:
barnase_barstar = msm.build.add_missing_hydrogens(barnase_barstar, pH=7.4)

In [35]:
msm.get(barnase_barstar, element='atom', selection='atom_type=="H"', n_atoms=True)

1563

In [36]:
msm.convert(barnase_barstar, to_form='barnase_barstar.pdb')

'barnase_barstar.pdb'